@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
  transition: 1s;
  cursor: default !important;
}
* {
  cursor: default !important;
}
:root {
  --primary: #000;
  --thirdcolor: #000000e0;
  --secondary: #ffffff;
  --third: #009fbd;
}
.third {
  background-blend-mode: overlay;
}
.link:hover {
  border-bottom: 2px solid var(--third);
}
.heading {
  @apply text-lg lg:text-4xl font-bold;
}
.heading__2 {
  @apply text-2xl lg:text-2xl font-bold;
}
@layer {
  .about__para {
    @apply text-xs text-justify lg:text-sm text-black;
  }

  .para {
    @apply text-xl text-justify lg:text-2xl text-[var(--secondary)];
  }
  .para__2 {
    @apply text-xs text-justify lg:text-sm;
  }
}
.spin:hover {
  transition-duration: 1s;
  transform: rotateY(180deg);
}

