@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
:root{
    --primary:rgb(12, 29, 217);
    --secondary:#ff0000;
    
}
.link:hover{
    border-bottom: 2px solid rgb(15, 255, 15);
}
.heading{
@apply text-4xl lg:text-6xl font-bold
}
.para{
@apply text-xl lg:text-2xl
}