@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
:root{
    --primary:#000;
    --thirdcolor:#36363688;
    --secondary:#ffffff;
    --third:#C07F00;
    
}
.link:hover{
    border-bottom: 2px solid var(--third);
}
.heading{
@apply text-4xl lg:text-6xl font-bold text-[var(--secondary)]
}
.para{
@apply text-xl lg:text-2xl text-[var(--secondary)]
}